# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Build files
build/
dist/
*.egg-info/

# Database
*.db

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db